<strong>Olá, {{ student }}</strong>
<p>Seja bem-vindo a academia GymPoint!</p>
<p>Abaixo os detalhes da sua matrícula:</p>
<p>
    <strong>Plano: </strong> {{ plan }} <br />
    <strong>Valor Total: </strong> R$ {{ full_price }} <br />
    <strong>Término: </strong> {{ end_date }} <br />
</p>
